<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>Кружочки</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <h:outputScript library="js" name="Script2.js"/>
        <h:outputStylesheet library="css" name="style.css"/>
    </h:head>

    <h:body style="background-image: url(up4kman.gif); background-size: contain; background-position: left">
        <div class="input" style="margin-left: 5%; margin-top: 3%">
            <div id="graphic">
                <h:form id="hide_form">
                    <h:inputHidden id="xCanvas" value="#{BackendBean.xCanvas}">
                    </h:inputHidden>
                    <h:inputHidden id="yCanvas" value="#{BackendBean.yCanvas}">
                    </h:inputHidden>
                    <canvas id="canvas" width="300" height="300" onclick="clickCanvas()"/>
                    <p:remoteCommand name="addPoint" action="#{BackendBean.addPointFromCanvas}" update=":results "/>
                </h:form>

                <h:form id="form">
                    <div id = "x_input">
                        X:
                        <br/>
                        <p:commandButton id="x1" value="-5" action="#{BackendBean.setX(-5)}"/>
                        <p:commandButton id="x2" value="-4" action="#{BackendBean.setX(-4)}"/>
                        <p:commandButton id="x3" value="-3" action="#{BackendBean.setX(-3)}"/>
                        <p:commandButton id="x4" value="-2" action="#{BackendBean.setX(-2)}"/>
                        <p:commandButton id="x5" value="-1" action="#{BackendBean.setX(-1)}"/>
                        <p:commandButton id="x6" value="0" action="#{BackendBean.setX(0)}"/>
                        <p:commandButton id="x7" value="1" action="#{BackendBean.setX(1)}"/>
                        <p:commandButton id="x8" value="2" action="#{BackendBean.setX(2)}"/>
                        <p:commandButton id="x9" value="3" action="#{BackendBean.setX(3)}"/>
                    </div>


                    <div id="y_input" class="auto-margin">
                        <br/>
                        Y:<h:inputText value="#{BackendBean.y}" id="enterY" name="enterY" title="y" validator="ControlValidator"/>
                    </div>

                    <div id="r_input">
                        R:
                        <br/>
                        <p:commandButton id="r1" value="1" onclick="createGraphic(1)" action="#{BackendBean.setR(1)}"/>
                        <p:commandButton id="r2" value="1.5" onclick="createGraphic(1.5)" action="#{BackendBean.setR(1.5)}"/>
                        <p:commandButton id="r3" value="2" onclick="createGraphic(2)" action="#{BackendBean.setR(2)}"/>
                        <p:commandButton id="r4" value="2.5" onclick="createGraphic(2.5)" action="#{BackendBean.setR(2.5)}"/>
                        <p:commandButton id="r5" value="3" onclick="createGraphic(3)" action="#{BackendBean.setR(3)}"/>
                        <br/>

                        <h:commandButton style="margin-top: 1%;" value="Проверим точечку" action="#{BackendBean.addPointFromForm}">
                            <f:ajax execute="@form" render="results"/>
                        </h:commandButton>
                    </div>
                </h:form>
            </div>
         </div>

        <div id="table_results" style="margin-left: 5%; margin-top: 1%">
            <h:dataTable style="background: cadetblue; border: black; border-radius: 5px" value="#{points}" var="p" styleClass="order-table" headerClass="order-table-header" rowClasses="order-table-odd-row, order-table-even-row" id="results">
                <h:column>
                    <f:facet name="header">
                        X
                    </f:facet>
                    #{p.x}
                </h:column>

                <h:column>
                    <f:facet name="header">
                        Y
                    </f:facet>
                    #{p.y}
                </h:column>

                <h:column>
                    <f:facet name="header">
                        R
                    </f:facet>
                    #{p.r}
                </h:column>

                <h:column>
                    <f:facet name="header">
                        ?
                    </f:facet>
                    #{p.hit}
                    <h:outputScript>#{p.getDrawPoint(BackendBean.r)}</h:outputScript>
                </h:column>

                <f:facet name="header">
                    Your points
                </f:facet>

                <br/>
                <h:column>
                    <h:commandButton value="Какой это был кружочек?" onclick="showPoint('${p.x}', '${p.y}')"/>
                </h:column>
            </h:dataTable>
        </div>

        <h:form style="margin-left: 5%; margin-top: 0.5%; color: darkgray">
        <h:commandButton action="second" value="Нет, хочу часеки"/>
        </h:form>
    </h:body>
</f:view>
</html>
