<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>Часеки</title>
        <style type="text/css">
            .ui-analog-clock {
                width: 200px;
            }
            #header{
                background-color: #e6e03f;
                text-align: center;
            }
            .welcome {
                color: rgb(255, 0, 3);
            }
        </style>
    </h:head>

    <h:body style="background-image: url(back1.jpg); background-size: cover">
        <div id="header" style="border-radius: 10px">
            <p class="welcome">Иващенко Яна</p>
            <p class="welcome">20144</p>
            <p class="welcome">P3201</p>
        </div>
        <h:form style="margin-left: 42%; margin-top: 14%">
            <br></br>
            <p:clock displayMode="analog" />
        </h:form>
        <h:form  style="margin-left: 42.5%;">
        <h:commandButton action="second" value="Тыкать кружочки на графике"/>
        </h:form>
    </h:body>
</f:view>
</html>
